<style>
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    text-align: center;
  }
  
</style>

<div class="hero-section">
  <div class="container">
    <h1 class="display-4">From Core to Core, Flex your Power!</h1>
    <p class="lead">Quantify, Compare, Search, and More. Explore the vast realm of CPU benchmarks and stay informed with other users' results.</p>
    <a href="/dash" class="btn btn-primary btn-lg">See Benchmarks &rarr;</a>
  </div>
</div>