<style>
  a { 
    text-decoration: none;
  }
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <img class="d-inline-block align-top" src="/img/logo.png" width="50" height="50" alt="logo">
    <a href="/" class="navbar-text ms-2 fw-semi-bold">CPU Battle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if(typeof user !=='undefined' && typeof user !== null) { %>
          <li class="nav-item me-2">
            <a href="/logout" class="btn btn-outline-primary fs-10">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item me-2">
            <a href="/auth-login" class="btn btn-outline-primary fs-10">Log In</a>
          </li>
          <li class="nav-item me-2">
            <a href="/auth-register" class="btn btn-primary fs-10">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>