<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">CPU Battle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2">
          <a href="<%= authLoginForm %>" class="btn btn-primary fs-10">Entrar</a>
        </li>
        <li class="nav-item me-2">
          <a href="<%= authRegisterForm %>" class="btn btn-outline-primary fs-10">Registrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>