<%- include('components/head.ejs', {title: 'CPU Battle'}) %>
<body>
    <header>
        <%- include('components/navbar.ejs') %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>

    </footer>
</body>
